# Database
DATABASE_URL="postgresql://username:password@host:port/database"

# Apple Universal Links (AASA)
AASA_APP_ID_1="ABCDE12345.com.your.bundle"
# AASA_APP_ID_2="FGHIJ67890.com.your.other.bundle"
# AASA_APP_ID_3="KLMNO11111.com.your.third.bundle"

# Android App Links (Digital Asset Links)
ASSETLINKS_PACKAGE_NAME_1="com.your.app"
ASSETLINKS_SHA256_CERT_1="AA:BB:CC:DD:EE:FF:00:11:22:33:44:55:66:77:88:99:AA:BB:CC:DD:EE:FF:00:11:22:33:44:55:66:77:88:99"
# ASSETLINKS_PACKAGE_NAME_2="com.your.other.app"
# ASSETLINKS_SHA256_CERT_2="11:22:33:44:55:66:77:88:99:AA:BB:CC:DD:EE:FF:00:11:22:33:44:55:66:77:88:99:AA:BB"
